# Ism el application
APP_NAME="Notes App"
# El environment (Dima local f l'pc mte3ek)
APP_ENV=local
# El Key mte3 el application (lezem ta3mal php artisan key:generate)
APP_KEY=
# Debug mode: ken "true" y'warrik l'erreurs bed-dabt
APP_DEBUG=true
# URL mte3 el backend
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# El Base de données: hna mesta3mlin SQLite (fard fichier)
DB_CONNECTION=sqlite
# Ken n'7abbou n'esta3mlou MySQL, n'na7iw el # mel star hadom:
# DB_CONNECTION=mysql
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=notes_app
# DB_USERNAME=root
# DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

# Domains elli msamhallhom yesta3mlou el cookies mte3 Sanctum
SANCTUM_STATEFUL_DOMAINS=localhost:5173,localhost:3000,127.0.0.1:5173

# URL mte3 el frontend (React)
FRONTEND_URL=http://localhost:5173
